/* Colors */
:root {
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
    --pink: rgba(173, 40, 235, 1);
  }

@font-face {
    font-family: "WorkSans";
    src: url("../fonts/WorkSans-VariableFont_wght.ttf");
}

.backgroundimage {
    height: 300px;
    background-image: url("../images/background-pattern-desktop.svg");
}

.faqs-container {
    background-color: var(--light-pink);
    padding: 40px;
    box-shadow: rgba(80, 0, 118, 0.15) 0px 32px 56px 15px;
    border-radius: 16px;
    margin-top: -150px;
}

h1 {
    margin-bottom: 32px !important;
}

.faq-title {
    color: var(--dark-purple);
    font-family: "WorkSans";
    font-size: 56px;
    font-weight: bold;
    padding-left: 24px;
}

.question {
    color: var(--dark-purple);
    font-family: "WorkSans";
    font-size: 18px;
    font-weight: 600;
    padding: 24px 0;
    margin: 0 !important;
}

.faq-item:hover {
    cursor: pointer;
}

.faq-item:hover .question {
    color: var(--pink);
}

.answer {
    color: var(--grayish-purple);
    font-family: "WorkSans";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px !important;
}

.attribution {
    font-size: 11px; text-align: center;
    padding: 30px;
}
.attribution a {
    font-family: "WorkSans";
    color: var(--pink);
}

@media screen and (max-width:600px) {
    .backgroundimage {
        height: 200px;
        background-image: url("../images/background-pattern-mobile.svg");
    }
    .faqs-container {
        padding: 24px;
        margin-top: -100px;
    }
}